:css
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 400px }

- title("Map")
%h1
  Map Page
  %small views/pages/map.html.haml
%p This is a sample map! More work based on your feedback mon

= form_tag lookup_address_sites_path, method: :get do
  = label_tag "address"
  = text_field_tag "address"

  = submit_tag "Submit"


#map-canvas
