#footer
  .container
    .row.footer-first-row
      .col-xs-12.text-center
        %p
          %small
            \&copy; 2014 - Baldhead Rasta
            %br/
            / Assembled with #{link_to "RailsBricks", "http://www.railsbricks.net"}
            Assembled by #{link_to "beresfordjunior", "/#"}
